img {
    height: 200px;
}

body {
    margin: 0px;
    padding: 0px;
    background: rgb(241, 227, 211);
}

main {
    padding: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    padding: 24px;
    background: rgb(153, 193, 185);
}

nav {
    border-bottom: black 1px;
    padding: 16px;
}

hr {
    margin: 0px;
    padding: 0px;
    height: 1px;
    background-color: black;
    border-color: black;
}

header {
    background-color: rgb(216, 140, 154);
    color: rgba(0, 0, 0, 1);
}

h1 {
    color: rgb(142, 125, 190);
}

h2 {
    color: rgb(153, 193, 185);
}

.my-grid {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

a {
    text-decoration: none;
}

.striped-table tr:nth-child(even) {
    background: rgba(128, 128, 128, 0.497);
}

h3 a {
    color: rgb(142, 125, 190);
    box-shadow: 5px 0px 5px rgb(153, 193, 185), -5px 0px 5px rgb(153, 193, 185);
    transition: box-shadow 0.5s;
}

h3 a:hover {
    box-shadow: 5px 0px 5px rgb(216, 140, 154), -5px 0px 5px rgb(216, 140, 154);
}

img {
    box-shadow: 5px 5px 5px gray;
}

.center-text {
    text-align: center;
}